<form [formGroup]="matrizForm">
  <table>
    <thead>
      <tr>
        <th scope="col" style="border: 1px solid red !important" *ngFor="let filPri of matrizCongruencia.filaPrincipal; let ix=index">{{filPri.columnaTitulo}}</th>
      </tr>
    </thead>
    <tbody >
      <tr formArrayName="filaPrincipal">
        <td [formGroupName]="x"  style="border: 1px solid red !important" *ngFor="let filPrigru of matrizCongruencia.filaPrincipal; let x=index">
          <tr>
            <td style="border: 1px solid red !important" *ngFor="let gru of filPrigru.gruposColumna; let yx=index">{{gru.titulo}}</td>
          </tr>
          <tr>
            <td style="border: 1px solid red !important" *ngFor="let gru of filPrigru.gruposColumna; let yx=index">
              <textarea *ngIf="gru.texto!==''" [value]="gru.texto" formControlName="texto"></textarea></td>
          </tr>
          <tr>
            <td style="border: 1px solid red !important" *ngFor="let gru of filPrigru.gruposColumna; let yx=index">
              <input formControlName="textoChequeo" *ngIf="(gru.textoChequeo === 'true' || gru.textoChequeo === 'false')"  type="checkbox" [value]="gru.textoChequeo == 'true'? true : false" [checked]="gru.textoChequeo == 'true'? true : false">
              <textarea formControlName="textoChequeo" *ngIf="!(gru.textoChequeo === 'true' || gru.textoChequeo === 'false')" [value]="gru.textoChequeo"></textarea>
              <!-- <input  type="checkbox" [value]="gru.textoChequeo">  -->
            </td>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
  <form>

<form [formGroup]="matrizForm" *ngIf="false">
<table>
  <thead>
    <tr>
      <th scope="col" style="border: 1px solid red !important" *ngFor="let filPri of matrizCongruencia.filaPrincipal; let ix=index">{{filPri.columnaTitulo}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid red !important" *ngFor="let filPrigru of matrizCongruencia.filaPrincipal; let x=index" >
        <tr>
          <td style="border: 1px solid red !important" *ngFor="let gru of filPrigru.gruposColumna; let yx=index">{{gru.titulo}}</td>
        </tr>
        <tr>
          <td style="border: 1px solid red !important" *ngFor="let gru of filPrigru.gruposColumna; let yx=index">
            <textarea *ngIf="gru.texto!==''" [value]="gru.texto"></textarea></td>
        </tr>
        <tr>
          <td style="border: 1px solid red !important" *ngFor="let gru of filPrigru.gruposColumna; let yx=index">
            <input *ngIf="(gru.textoChequeo === 'true' || gru.textoChequeo === 'false')"  type="checkbox" [value]="gru.textoChequeo == 'true'? true : false" [checked]="gru.textoChequeo == 'true'? true : false">
            <textarea *ngIf="!(gru.textoChequeo === 'true' || gru.textoChequeo === 'false')" [value]="gru.textoChequeo"></textarea>
            <!-- <input  type="checkbox" [value]="gru.textoChequeo">  -->
          </td>
        </tr>
      </td>
    </tr>
  </tbody>
</table>
<form>

<form [formGroup]="matrizForm" *ngIf="false">
	<!-- X -->
	<div formArrayName="filaPrincipal">
		<div *ngFor="let filPri of matrizForm['controls'].filaPrincipal['controls']; let ix=index">
			<div formGroupName="{{ix}}" class="Xs">
				<input type="text" formControlName="tituloPerfilGraduado">
        <input type="text" formControlName="DescripcionPerfilGraduado">
				<!-- <p>{{ formErrors.Xs[ix].X }}</p> -->
				<!-- Y -->
				<div formArrayName="filaCompetenciasGraduado">
					<div *ngFor="let filCompet of filPri['controls'].filaCompetenciasGraduado['controls']; let iy=index">
						<div formGroupName="{{iy}}" class="Ys">
							<input type="text" formControlName="tituloPerfilGraduado">

							<!-- Z -->
							<!-- <div formArrayName="Zs">
								<div *ngFor="let Z of Y['controls'].Zs['controls']; let iz=index">
									<div formGroupName="{{iz}}" class="Zs">
										<input type="text" formControlName="Z">
										<p>{{ formErrors.Xs[ix].Ys[iy].Zs[iz].Z }}</p>
									</div>
								</div>
								<input type="button" (click)="addZ(ix,iy)" value="Add Z">
							</div> -->
							<!-- Z End -->

						</div>
					</div>
					<!-- <input type="button" (click)="addY(ix)" value="Add Y"> -->
				</div>
				<!-- Y End-->
			</div>
		</div>
		<!-- <input type="button" (click)="addX()" value="Add X"> -->
	</div>
	<!-- X End -->
	<form>

		<h5>Field Values</h5>
		<pre style="font-size:15px">{{ matrizForm.value | json }}</pre>

<form [formGroup]="userForm">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>DOB</th>
    </thead>
    <tbody formArrayName="users" *ngFor="let group of getFormData.controls; let i=index">
      <tr [formGroupName]="i">
        <td class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="name">
        </td>
        <td class="form-group">
          <input type="text" class="form-control" formControlName="email" placeholder="email">
        </td>
        <td class="form-group">
          <input type="text" class="form-control" formControlName="mobNumber" placeholder="mobile number">
        </td>
        <td>
          <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </td>
        <td>
          <button (click)="remove(i)" class="btn btn-primary mr-5">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<button (click)="addUser()" class="btn btn-primary mr-5">Add new</button>
<button (click)="save()" [disabled]="userForm.invalid" class="btn btn-primary">Save</button>
<div>
  <!-- {{userForm.value | json}} -->
</div>
